# Git
.git
.gitignore

# CI/CD
.github

# Documentation
*.md
LICENSE

# GoReleaser
dist/
.goreleaser.yaml

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/
